@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark --prefersdark;
}

.forgot{
    background-color: rgb(39, 38, 49);
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px black;
}